/* Heading and nav section */
.Heading{
    position: absolute;
    padding-top: 120px;
    padding-left: 350px;
    font-size: 25px;
    color: rgb(27, 27, 43);
}
nav a{
    text-decoration: none;
    color: black;
    margin: 7px;
}
nav{
    display: flex;
    justify-content: right;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 120px;
    padding-right: 90px;
    
    
}
nav a:hover{
    color: blue;
}
/* Prebook Section */
.influencer{
    padding-left: 350px;
    padding-top: 40px;
    font-size: 30px;
    width: 500px;
    
}
.influencer-para{
    padding-left: 350px;
    font-size: 25px;
    color: rgb(32, 32, 32);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 700px;
}
.images{
    padding-left: 1100px;
    margin-top: -300px ;
}
.button{
    background-color: rgb(216, 49, 20);
    font-size: 29px;
    border-radius: 20px;
    color: white;
}
.button:hover{
    background-color: rgb(212, 191, 185);
    color: black;
}