/* Heading and nav section */
.Heading {
  position: absolute;
  padding-top: 120px;
  padding-left: 200px;
  font-size: 25px;
  color: rgb(27, 27, 43);
}
nav a {
  text-decoration: none;
  color: black;
  margin: 7px;
}
nav {
  display: flex;
  justify-content: right;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 120px;
  padding-right: 90px;
}
nav a:hover {
  color: blue;
}
/* Prebook Section */
.influencer {
  padding-left: 200px;
  padding-top: 40px;
  font-size: 30px;
  width: 500px;
}
.influencer-para {
  padding-left: 200px;
  font-size: 25px;
  color: rgb(32, 32, 32);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 700px;
}
.images {
  padding-left: 1100px;
  margin-top: -300px;
}
.images:hover{
  
}
/* button section */
.button {
  background-color: rgb(216, 49, 20);
  font-size: 29px;
  border-radius: 20px;
  color: white;
}
.button:hover {
  background-color: rgb(212, 191, 185);
  color: black;
}
/* brand section */
.brand {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  padding-top: 50px;
  padding-left: 220px;
}
hr {
  border: 1px solid rgb(247, 247, 247);
}
/* Collection part */
.heading{
    text-align: center;
    color: rgb(24, 29, 29);
    padding-top: 50px;    
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding-left: 220px;
    padding-top: 20px;
    font-family: 'Island Moments', cursive;
}
h3{
  text-align: right;
  padding-right: 220px;
  color: rgb(211, 67, 67);
  
}
/* Products Rating */
.fa-star.filled{
    color: goldenrod;
}
/* Support section */
.login-form{
  display: flex;
  flex-direction: column;
}
.login-container{
  display: flex;
  justify-content: right;
  padding-right: 700px;
  margin: 30px;  
}
.login-form input, button{
  font-size: 1.2em;
  margin-top: 18px;
  border: 1px solid rgb(120, 175, 132);
  padding-left: 280px;
  border-radius: 5px;
}
.login-form button{
  background-color: maroon;
  color: white;
  padding: 4px;
}
/* footer section */
footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(37, 37, 37);
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Island Moments', cursive;
}
